body {
    margin: auto;
    background-color: azure;
    overflow-x: hidden;
}

#header {
    height: 150px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

button {
    width: 150px;
}

form {
    margin-bottom: 20px;
    background-color: rgb(201, 202, 202);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.formHeader {

    margin: 50px 0px 0;
     background-color: coral;
    /*border-radius: 5px;    */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}